<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="chart.js"></script>
</head>
<body>
<h1>График данных</h1>
<canvas id="myChart" width="400" height="200"></canvas>

<script th:inline="javascript">

    const labels = /*[[${labels}]]*/ [];
    const data = /*[[${data}]]*/ [];
    console.log('Labels:', labels); // Теперь выводим labels
    console.log('Data:', data); // Теперь выводим data



    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Мои данные',
                data: data,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
</body>
</html>